.title {
  font-size: 3rem;
  text-align: center;
}

.divcontact {
  @apply box-border w-11/12 max-w-4xl m-auto shadow-md rounded-lg py-3;
}

.ojinput {
  @apply border-gray-500 border rounded-sm w-full;
}

.ojinputNom {
  @apply ojinput w-1/2;
}

.ojlabel {
  @apply font-bold;
}
