.title {
  font-size: 3rem;
  text-align: center;
}

.divcontact {
  @apply box-border w-11/12 max-w-4xl m-auto shadow-md rounded-lg py-3;
}

.ojinput {
  @apply border-ojblack border rounded-sm w-full;
}

.ojinputInvalid {
  @apply border-red-400 border-2 rounded-sm w-full;
}

.ojinputNom {
  @apply ojinput w-1/2;
}

.ojlabel {
  @apply font-bold;
}

.ojbouton {
  @apply h-10 mt-8 mr-5 px-5 float-right text-ojwhite bg-ojblack transition-colors duration-150 rounded-md hover:bg-ojgreen hover:text-ojblack hover:font-bold;
}

.ojetoilerouge {
  @apply text-red-700;
}

.confirmMessageOK {
  @apply font-bold text-ojgreen text-center border-t border-b mx-40 invisible;
}

.errorText {
  @apply text-red-800;
}
