.divHeader {
  background-image: url("/header-background.png");
  background-repeat: no-repeat;
  background-size: auto;

  @apply w-11/12 m-auto max-w-7xl mb-2;
}

/* MENU */
.myLink {
  @apply text-2xl text-ojblack bg-opacity-80 bg-ojwhite hover:text-ojwhite hover:bg-ojblack hover:bg-opacity-80 flex-none;
}

.myImage {
  @apply opacity-80;
}
