.divHeader {
  background-image: url("/header-background.png");
  background-repeat: no-repeat;
  background-size: auto;
}

/* MENU */
.myLink {
  @apply text-2xl text-ojblack bg-opacity-80 bg-ojwhite hover:text-ojwhite hover:bg-ojblack hover:bg-opacity-80;
}
